
body {
    background: rgba(156, 198, 240, .8)
}
#fixed-top{position:fixed; 
    top:0;
    margin-top:0
    margin-right:100px
}

.mat-card{
    border-radius: 32px;
    margin: 20px 10px;
    padding: 20px;
    border-color: #0a66c2;
}
.mat-card#first-card{
    padding: 0;
}

div#profile_background {
    display: flex;
    z-index: 1;
    
}
div#first-card#profile-background img{
    width: 100%;
    border-radius: 32px 32px 0 0;
    
}
.card-img-top{
    border-radius: 32px 32px 0 0;
}

.profile_image{
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    position: relative;
    z-index: 2;
    padding: 15px;
}
div#info-actions{
    margin: 20px;
    display: flex;
}

i {
    font-size: 30px;
    color: #0a66c2;
}

.text-gray-small {
    color: #6a6c6e;
    font-size: 18px;
}

.logo-institute   {
    width: 140px;
    height: 50px;
}

.logo-particular   {
    width: 50px;
    height: 50px;
}

.btn-right{
    display: flex;
    align-self: flex-end;
}
i#logo-experiencia{
    font-size: 80px;
}

.card-text{
    color: #6a6c6e;
    font-size: 25px;
}

#cuadroOculto::placeholder{
    color: black;
    font-size: 30px;
    font-weight: bold;

}

#cuadroVisto
{
    border: 6px;
    border-color: green;
    outline: 3px;
    width: 370px;
    height: 30px;

}


#cuadroOculto
{
    border: 0px;
    outline: none;
    width: 370px;
    height: 30px;

}