 <!-- Barra de navegacion -->
<app-barra-navegacion></app-barra-navegacion>

<!-- Modal- INGRESAR -->
<app-modal-ingresar></app-modal-ingresar>

<!-- ENCABEZADO-->
<app-encabezado></app-encabezado>

<!-- ACERCA DE-->
<app-acerca-de></app-acerca-de>

<!-- EXPERIENCIA-->
<app-experiencia></app-experiencia>

<!-- EDUCACION -->    
<app-educacion></app-educacion>

<!-- PROYECTOS -->
<app-proyectos></app-proyectos>   

<!-- SKILLS -->
<app-skills></app-skills>

<!-- FOOTER -->
<app-footer></app-footer>