    <!-- Modal -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card mat-card">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                            <div><img class="mb-4" src="/logo_seba.jpeg" alt="" width="72" height="72"></div>
                            <h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                            <label for="inputPassword" class="sr-only">Constraseña</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Constraseña" required>
                            <div class="checkbox mb-3">
                                <label>
                                <input type="checkbox" value="remember-me"> Recordar
                                </label>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
                        
                   <div><button class="btn btn-outline-secondary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Registrarme</button></div>
                   </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        </div>
        </div>
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-4">
                      <label for="validationServer01" class="form-label">Primer nombre</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" value="Juan" required>
                      <div class="valid-feedback">
                        Ok!
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="validationServer02" class="form-label">Segundo Nombre</label>
                      <input type="text" class="form-control is-valid" id="validationServer02" value="Gonzalez" required>
                      <div class="valid-feedback">
                        Ok!
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="validationServerUsername" class="form-label">Usuario</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                          Elegí nombre de usuario.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="validationServerPassword" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="validationServerPassword" aria-describedby="validationServerPasswordFeedback" required>
                      <div id="validationServerPasswordFeedback" class="invalid-feedback">
                        Ingrese contraseña.
                      </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationServerPassword02" class="form-label">Repetir contraseña</label>
                        <input type="password" class="form-control" id="validationServerPassword02" aria-describedby="validationServerPassword02Feedback" required>
                        <div id="validationServerPassword02Feedback" class="invalid-feedback">
                          Vuelva a ingresar contraseña.
                        </div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">Crear usuario</button>
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
            </div>
        </div>
        </div>
        </div>
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Open first modal</button>
